<div class="col-lg-9">
	<div class="well well-lg" align="center" style="height:350px;">
		<div class="row">
			<div class="col-sm-5"> 
				<a href="#/survey" type="button" class="btn btn-success btn-activity btn-text" style="height: 150px; width:49%; font-size: 24px;" ng-disabled="surveyDone()">Take a Survey</a>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<a href="#/quiz" type="button" class="btn btn-info btn-activity" style="height: 150px; width:49%; font-size: 24px;" ng-disabled="quizDone()">Quiz</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<a href="#/video" type="button" class="btn btn-warning btn-activity" style="height: 150px; width:49%; font-size: 24px;" ng-disabled="videoDone()">Watch a Video</a>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<a href="#" type="button" class="btn btn-danger btn-activity" style="height: 150px; width:49%; font-size: 24px;">Locate</a>
			</div>
		</div>
	</div>
</div>	